@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font_family: "Inter";
  --gold_bg: #fef0ae;
  --silver_bg: #e6e6e6;
  --bronze_bg: #ffe5cf;
  --count_gold: #ffc671;
  --color_warning: #e59347;
  --color_orange: #FAAA7D;
  --count_silver: #959292;
  --i_gray:rgba(144, 160, 170, 1);
  --i_bg_gray:rgba(255, 255, 255, 1);
  --orange_rgb:rgba(232, 93, 4, 1);
  --gray_rgb:rgba(231, 233, 239, 1);
  --count_bronze: #fbaa6b;
  --card_bg:rgba(246, 246, 246, 1);
  --muted_text: #90a0aa;
  --gray_txt:#636F81;
  --black_text_light: #36454f;
  --black_text: #1a1a1a;
  --full_black: #000;
  --like_muted: #4B6A7E;
  --student_text: #7792ab;
  --color_wrong: #FFE3E6;
  --blue_text: #1f55a6;
  --green_text: #4d956a;
  --green_active: #48bb77;
  --red_clr:rgba(244, 54, 76, 1);
  --green_txt:rgba(77, 149, 106, 1);
  --green_bg:rgba(244, 255, 239, 1);
  --physics_purple: #d90f7e;
  --finished_sticker: rgba(244, 54, 76, 0.12);
  --physics_orange: #ff9e44;
  --chemstry_orange: #f5821f;
  --sciense_orange: #fdb71c;
  --light_grey: #fafbfd;
  --active_txt: #f4364c;
  --danger_bg: #df0c25;
  --table_bg: #e2e7eb;
  --main_bg:#F8F8FA;
  --warning_bg: #ffc107;
  --light_green:#E0FFE3;
  --info_color: #0dcaf0;
  --header_certificate: #1f55a6;
  --bg_primary:#043785;
  --light_blue_gray: #f5f6f8;
  --white_transperetnt_80:rgba(255, 255, 255, 0.8);
  --white_txt: #fff;
  --green_bg_verif_stick: rgba(70, 190, 82, 0.1);
  --font_regular_1: 400 12px var(--font_family);
  --font_regular_2: 400 14px var(--font_family);
  --font_regular_3: 400 16px var(--font_family);
  --font_bold_1: 500 12px var(--font_family);
  --font_bold_2: 500 14px var(--font_family);
  --font_bold_3: 500 16px var(--font_family);
  --font_bold_4: 500 20px var(--font_family);
  --font_bold_5: 600 12px var(--font_family);
  --font_bold_6: 600 14px var(--font_family);
  --font_bold_7: 600 16px var(--font_family);
  --font_bold_8: 600 20px var(--font_family);
  --font_bold_9: 600 24px var(--font_family);
  --font_bold_10: 600 30px var(--font_family);
  --font_bold_11: 700 14px var(--font_family);
  --font_bold_12: 700 20px var(--font_family);
}

body {
  background: #fafbfd;
  font-family: var(--font_family) !important;
}


p {
  margin-bottom: 0;
}

.fs_12 {
  font-size: 12px;
}

.line_h_150 {
  line-height: 150% !important;
}
.fs_14 {
  font-size: 14px;
}

.fs_16 {
  font-size: 16px;
}

.fs_20 {
  font-size: 20px;
}

.fs_24 {
  font-size: 24px;
}

.fs_30 {
  font-size: 30px;
}

.fw_400 {
  font-weight: 400;
}

.fw_500 {
  font-weight: 500;
}

.fw_600 {
  font-weight: 600;
}

.fw_700{
  font-weight: 700;
}

.bg_gold {
  background-color: var(--gold_bg);
}

.gold_card{
  width: 48px;
  height: 32px;
  background-color: rgba(255, 244, 195, 1);
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
  font-size: 14px;
  color:rgba(233, 161, 97, 1);
  border-radius: 8px;
}

.silver_card{
  width: 48px;
  height: 32px;
  background-color: rgba(230, 230, 230, 1);
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
  font-size: 14px;
  color:rgba(136, 168, 178, 1);
  border-radius: 8px;
}

.bronze_card{
  width: 48px;
  height: 32px;
  background-color: rgba(254, 237, 222, 1);
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
  font-size: 14px;
  color:rgba(198, 117, 88, 1);
  border-radius: 8px;
}

.vndfvndfjkvndjkvndkj{
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 12px;
}

.nvjfdnvj{
  margin-right: 12px;
}

.gap_12{
  display: grid;
  grid-template-columns: minmax(160px, 1fr) minmax(180px, 1fr) minmax(168px, 1fr) minmax(126px, 1fr);
  gap: 12px;
}

.steps_beginner{
  border-radius: 12px;
  border: 1px solid rgba(226, 231, 235, 1);
  padding: 12px 20px 12px 20px;
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid-template-columns: 123px minmax(20px, 1fr) 134px minmax(20px, 1fr) 128px;
}

@media (max-width:905px) {
  .gap_12{
    display: grid;
    grid-template-columns: minmax(160px, 1fr) minmax(180px, 1fr) minmax(180px, 1fr);
    gap: 12px;
  }
  
  .steps_beginner{
    border-radius: 12px;
    border: 1px solid rgba(226, 231, 235, 1);
    padding: 12px 20px 12px 20px;
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 123px minmax(20px, 1fr) 134px minmax(20px, 1fr) 128px;
  }

}


@media (max-width:767px) {
  .gap_12{
    display: grid;
    grid-template-columns: minmax(160px, 1fr) minmax(180px, 1fr);
    gap: 12px;
  }

  .vndfvndfjkvndjkvndkj{
    grid-template-columns:1fr 4fr;
  }

  .steps_beginner{
    border-radius: 12px;
    border: 1px solid rgba(226, 231, 235, 1);
    padding: 12px 20px 12px 20px;
    display: grid;
    align-items: center;
    column-gap: 10px;
    grid-template-columns: 1fr;
  }


}

@media (max-width:575px) {
  .vndfvndfjkvndjkvndkj{
    grid-template-columns:1fr;
  }
}


.br_r_12{
  border-radius: 12px;
}

.grid_1030{
  display: grid; 
  column-gap: 12px;
  row-gap: 12px; 
  grid-template-columns: 2fr 1fr;
}

.c1c3r1r2{
  grid-column: 1/3;
  grid-row: 1/2;
}

.c2c3r2r3{
  grid-column: 1/2;
  grid-row: 2/3;
}

.c3c4r2r3{
  grid-column:2/3;
  grid-row: 2/3;
}

@media (max-width:1165px) {
  .grid_1030{
    grid-template-columns: 1fr;
  }
  
  .c1c3r1r2{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .c2c3r2r3{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .c3c4r2r3{
    grid-column:1/2;
    grid-row: 3/4;
  }
}

.point{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(54, 69, 79, 1);

}

.ps_point_left{
  position: absolute;
  bottom: -3px;
  left: -1px;
}

.ps_point_right{
  position: absolute;
  bottom: -3px;
  right: -1px;
}

.h_1px{
  height: 1px;
  background-color: rgba(54, 69, 79, 1);
  border: 0.5px solid rgba(54, 69, 79, 1);
}

.bg_silver {
  background-color: var(--silver_bg);
}

.bg_bronze {
  background-color: var(--bronze_bg);
}

.bg_light_grey {
  background-color: var(--light_grey);
}

.orange_rgb{
  background-color: var(--orange_rgb);
}

.card_bg{
  background-color: var(--card_bg);
}

.z_index{
  z-index: 999;
}

.top_head_card{
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 38px;
  position: absolute;
  top: 0;
  z-index: 0;
}

.p_16_12{
  padding: 16px 12px 16px 12px;
  border-radius: 12px;
}

.p_12_20{
  padding: 12px 20px 12px 20px;
}

.i_bg_gray{
  background-color: rgba(255, 255, 255, 1);
}

/* .w_160px{
  width:160px
}

.w_180px{
  width:180px;
}

.w_168px{
  width:168px;
}

.w_126px{
  width:126px;
} */



.clr_light_grey{
  color:var(--light_grey)
}

.like_muted{
  color: var(--like_muted);
}

.green_txt{
  color: var(--green_text);
}

.border_light_grey {
  border: 1px solid var(--light_grey);
}

.none_border{
  border: none;
  background-color: transparent;
  padding-block: 4px;
}

.price_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.green_bg{
  background-color: var(--green_bg);
}

.i_gray{
  color: rgba(144, 160, 170, 1);
}

.red_clr{
  background-color: var(--active_txt);
}

.muted_txt {
  color: var(--muted_text);
}

.ps_abs_b_r{
  position: absolute;
  bottom: 0;
  right: 12px;
}

.gray_txt{
  color:var(--gray_txt);
}

.bio_green {
  color: var(--green_active);
}

.physics_purple {
  color: var(--physics_purple);
}

.color_wrong{
  background-color: var(--color_wrong);
}

.chemstry_orange {
  color: var(--chemstry_orange);
}

.sciense_orange {
  color: var(--sciense_orange);
}

.font_regular_1 {
  font: var(--font_regular_1);
}

.font_regular_2 {
  font: var(--font_regular_2);
}

.gray_rgb{
  background-color: var(--gray_rgb);
}
.font_regular_3 {
  font: var(--font_regular_3);
}

.font_bold_1 {
  font: var(--font_bold_1);
}

.font_bold_5 {
  font: var(--font_bold_5);
}

.font_bold_8 {
  font: var(--font_bold_8);
}

.font_bold_7 {
  font: var(--font_bold_7);
}

.font_bold_9 {
  font: var(--font_bold_9);
}

.font_bold_11{
  font: var(--font_bold_11);
}

.font_bold_2 {
  font: var(--font_bold_2);
}

.font_bold_6 {
  font: var(--font_bold_6);
}

.font_bold_8 {
  font: var(--font_bold_8);
}

.font_bold_12 {
  font: var(--font_bold_12);
}

.border_black{
  border: 1px solid var(--black_text_light) !important;
}

.active_nav_item {
  color: var(--active_txt) !important;
}

.compleated_ch_color{
  color: rgba(75, 106, 126, 1);
}

.color_warning {
  color: var(--color_warning);
}

.bg_nav_tabs {
  background-color: var(--table_bg);
  width: inline-block;
  color: var(--black_text) !important;
}

.color_black {
  color: var(--black_text);
}

.color_black_light {
  color: var(--black_text_light) !important;
}

.border_light_grey {
  border: 1px solid var(--light_grey);
}

.border_black_light {
  border: 1px solid var(--black_text_light) !important;
}

.color_gold {
  color: var(--count_gold) !important;
}

.bg_orange{
  background-color: var(--color_orange);
}

.color_orange{
  color:var(--color_orange);
}

.bg_light_blue_gray {
  background-color: var(--light_blue_gray) !important;
}

.color_silver {
  color: #959292 !important;
}

.color_bronze {
  color: #fbaa6b !important;
}

.bg_main{
  background-color:var(--main_bg);
}
.light_green{
  background-color: var(--light_green);
}
.physics_orange {
  color: var(--physics_orange);
}

.blue_text {
  color: var(--blue_text);
}

.bg_blue{
  background-color: #043785;
}

.count_gold {
  color: var(--count_gold);
  font-weight: 600;
}

.color_primary {
  color: var(--green_text);
}

.btn_primary {
  background-color: var(--bg_primary);
  border: 1px solid var(--bg_primary);
  color: var(--white_txt);
}

.btn_primary:hover {
  background-color: var(--header_certificate);
  border: 1px solid var(--header_certificate);
}

.btn_secondary {
  background-color: var(--black_text_light);
  border: 1px solid var(--black_text_light);
  color: var(--white_txt);
}

.btn_secondary:hover {
  opacity: 0.8;
}

.btn_light {
  background-color: var(--light_grey);
  border: 1px solid var(--light_grey);
  color: var(--black_text_light);
}

.btn_disabled {
  background-color: var(--black_text_light);
  border: 1px solid var(--black_text_light);
  opacity: 0.2;
  color: var(--white_txt);
}

.btn_danger {
  background-color: var(--active_txt);
  border: 1px solid var(--active_txt);
  color: var(--white_txt);
}

.btn_danger:hover {
  background-color: var(--danger_bg);
  border: 1px solid var(--danger_bg);
}

.btn_warning {
  background-color: var(--warning_bg);
  border: 1px solid var(--warning_bg);
  color: var(--full_black);
}

.btn_warning:hover {
  opacity: 0.8;
}

.btn_info {
  background-color: var(--info_color);
  border: 1px solid var(--info_color);
  color: var(--full_black);
}

.btn_info:hover {
  opacity: 0.8;
}

.overflow_x_h {
  overflow-x: hidden;
}

.overflow_x_auto {
  overflow-x: auto;
}

.certificate {
  width: max(300px, 100%);
}

.select_achive {
  width: 120px;
  height: 30px;
  margin-left: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../media/vector_dark1.svg");
  background-repeat: no-repeat;
}

.select_achive::-ms-expand {
  display: none;
}

.pagination .page-item.active .page-link {
  background-color: white; /* Change the background color */
  color: black; /* Change the text color */
  border-color: black; /* Change the border color */
}

.pagination .page-item .page-link {
  color: black; /* Change the text color */
}

.outline_btn_primary {
  border: 1px solid var(--bg_primary);
  background-color: var(--white_txt);
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--bg_primary);
  transition-duration: 0.3s;
}

.outline_math_btn{
  border: 1px solid var(--white_txt);
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white_txt);
  transition-duration: 0.3s;
}

.outline_btn_primary:hover {
  background-color: var(--bg_primary);
  border: 1px solid var(--bg_primary);
  color: var(--white_txt);
}

.outline_btn_secondary {
  background-color: var(--white_txt);
  border: 1px solid var(--black_text_light);
  color: var(--black_text_light);
  transition-duration: 0.3s;
}

.outline_btn_secondary:hover {
  background-color: var(--black_text_light);
  color: white;
}

.outline_btn_info {
  background-color: var(--white_txt);
  border: 1px solid var(--info_color);
  color: var(--info_color);
  transition-duration: 0.3s;
}

.outline_btn_info:hover {
  background-color: var(--info_color);
  color: var(--full_black);
}

.outline_btn_danger {
  background-color: var(--white_txt);
  border: 1px solid var(--danger_bg);
  color: var(--danger_bg);
  transition-duration: 0.3s;
}

.outline_btn_danger:hover {
  background-color: var(--danger_bg);
  border: 1px solid var(--danger_bg);
  color: var(--white_txt);
}

.outline_btn_light {
  background-color: var(--white_txt);
  border: 1px solid var(--light_grey);
  color: var(--white_txt);
  transition-duration: 0.3s;
}

.outline_btn_light:hover {
  background-color: var(--light_grey);
  border: 1px solid var(--light_grey);
  color: var(--full_black);
}

.outline_btn_warning {
  background-color: var(--white_txt);
  border: 1px solid var(--warning_bg);
  color: var(--warning_bg);
  transition-duration: 0.3s;
}

.outline_btn_warning:hover {
  background-color: var(--warning_bg);
  color: var(--full_black);
}

.outline_btn_disabled {
  background-color: var(--white_txt);
  border: 1px solid var(--black_text_light);
  color: var(--black_text_light);
  opacity: 0.2;
}

.outline_btn_danger:hover {
  background-color: var(--danger_bg);
  border: 1px solid var(--danger_bg);
  color: var(--white_txt);
}

.bg_primary {
  background: var(--green_text);
}

.border_primary {
  border: 1px solid var(--green_text);
}

.bg_default {
  background-color: var(--black_text_light);
}

.border_default {
  border: 1px solid var(--black_text_light);
}

.btn_stc {
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--font_bold_2);
  border-radius: 8px;
  padding: 8px 16px !important;
}

.count_silver {
  color: var(--count_silver);
  font-weight: 500;
}

.count_bronze {
  color: var(--count_bronze);
  font-weight: 500;
}

.navbar,
.border_b_E2E7EB {
  border-bottom: 1px solid var(--table_bg);
}

.circle_award {
  width: 28px;
  height: 28px;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 12px rgba(54, 69, 79, 0.16);
  position: relative;
  border-radius: 50%;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../media/Vector.svg");
  background-repeat: no-repeat;
}

.select::-ms-expand {
  display: none; /* Hide default arrow in IE10+ */
}

.select_darck {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../media/vector_dark.svg");
  background-repeat: no-repeat;
}

.select_darck::-ms-expand {
  display: none; /* Hide default arrow in IE10+ */
}

.line_h_1 {
  line-height: 100%;
}

.user_icons {
  width: 210px;
  height: 40px;
  position: relative;
}

.ps_abs_120{
  position: absolute;
  left:120px;
}

.ps_abs_l_16_t_18{
  position: absolute;
  left: 16px;
  top:8px
}

.score_tbl {
  height: 90px;
  border-right: 1px solid var(--table_bg);
}

.zindex_1 {
  position: absolute;
  left: 0;
}

.zindex_2 {
  position: absolute;
  left: 20px;
}
.zindex_3 {
  position: absolute;
  left: 40px;
}
.zindex_4 {
  position: absolute;
  left: 60px;
}
.zindex_5 {
  position: absolute;
  left: 80px;
}

.zindex_6 {
  position: absolute;
  left: 140px;
  top: 9px;
}

.verified_sticker {
  background: var(--green_bg_verif_stick);
  color: var(--green_text);
  border-radius: 16px;
}

.finished_sticker {
  background: var(--finished_sticker);
  color: var(--active_txt);
  border-radius: 16px;
}

.sorting_sticker{
  background-color: rgba(75, 106, 126, 0.1);
  color: rgba(75, 106, 126, 1);
  border-radius: 16px;
}

.circled_div {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #fafbfd;
  position: absolute;
  left: 100px;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ps_abs_r_b {
  position: absolute;
  right: 16px;
  bottom: 12px;
}

.ps_abs_r_t_0 {
  position: absolute;
  right: 0;
  top: 0;
}

.b_rds_20 {
  border-radius: 20px;
}

.w_134px {
  width: 134px;
}

.w_100_200{
  width: max(100, min(200, 100%));
}

.topic_bg {
  background: #d6e8f3;
}

.subject_select{
  width: fit-content;
  color: white;
  padding-inline: 16px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  padding-block: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px  
}

.gradient_math{
  background-image: linear-gradient(to right, rgba(4, 55, 133, 1) , rgba(31, 85, 166, 1));
}

.gradient_chemstry{
  background-image: linear-gradient(to right, rgba(220, 47, 2, 1) , rgba(244, 140, 6, 1));
}

.gradient_physics{
  background-image: linear-gradient(to right, rgba(10, 77, 104, 1) , rgba(8, 131, 149, 1));
}

.gradient_bio{
  background-image: linear-gradient(to right, rgba(33, 119, 86, 1) , rgba(99, 183, 93, 1));
}

.gradient_science{
  background-image: linear-gradient(to right, rgba(214, 28, 78, 1) , rgba(193, 66, 101, 1));
}

.blue_start_bg{
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
}

.gray_white{
  color:rgba(255, 255, 255, 0.6)
}

.white_80{
  color: rgba(255, 255, 255, 0.8);
}

.topic_border{
  border: 1px solid #d6e8f3;
  color: var(--muted_text);
}

.ps_abs_r_t {
  position: absolute;
  right: 20px;
  top: 15px;
}

.ps_abs_20 {
  position: absolute;
  left: -20px;
  top: -3px;
}



.ps_abs_t5_r5 {
  position: absolute;
  top: 5px;
  right: 9px;
}

.ps_abs {
  position: absolute;
}

.score_icon {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ps_abs_r12_t8 {
  position: absolute;
  right: 12px;
  top: 8px;
}

.ps_rel {
  position: relative;
}

.b_r_16{
  border-radius: 16px;
}

.w_60 {
  width: 90px;
  text-align: center;
  white-space: nowrap;
}

.my_animation {
  animation: example 4s linear infinite;
}

.ps_sticky_t_1 {
  position: sticky;
  top: -2px;
}

.ps_sticky_t_0 {
  position: sticky;
  top: 0;
}

.ps_min_score{
  position: absolute; 
  top: 20%; 
  left: -4px;
}

.progress_thumb{
  height: 100%; 
  border-radius: 10px;
}

.ps_stc{
  position: sticky;
  width: 8px;
}

.b_rad_10{
  border-radius: 10px;
}

.b_rad_t_s{
  border-top-left-radius: 10px;
}

.b_rad_t_e{
  border-top-right-radius: 10px;
}

.b_rad_b_e{
  border-bottom-right-radius: 10px;
}

.ps_sticky_t_35{
  position: sticky;
  top: 38px;
  bottom: -1px;
  background-color: #EDF1F9;
  box-shadow: 0px 0px 10px var(--student_text);
  z-index: 9;
}

.ps_sticky_t_58{
  position: sticky;
  top: 58px;
  bottom: -1px;
  z-index: 9;
}

.ps_sticky_t_35 > th {
  color: var(--blue_text) !important;
}

.nav-link {
  color: var(--black_text_light);
}

.header-link {
  color: var(--white_transperetnt_80);
}

.none_hover:hover {
  color: var(--black_text);
  outline: 5px solid white;
}

.none_hover:active {
  color: var(--black_text);
  outline: 5px solid white;
}

.none_hover {
  color: var(--black_text) !important;
  border-radius: 0 !important;
  outline: 5px solid white;
  margin-right: 7px;
}

.active {
  font-weight: 700;
  border-bottom: 2px solid white;
  color: white;
}

.rotateimg180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.tbl {
  max-height: 698px;
}

.max_h_866{
  height: 106px;
  /* overflow-y: hidden; */
}

.color_hr {
  color: var(--table_bg);
}

.border_bottom {
  border-bottom: 1px solid var(--table_bg);
  padding-bottom: 1rem;
}

tr {
  border: 1px solid var(--table_bg);
}

th {
  border-bottom: 1px solid var(--table_bg);
  vertical-align: middle;
}
thead {
  background: #fafbfd;
}

td {
  border-bottom: 1px solid var(--table_bg);
  vertical-align: middle;
  /* text-align: center; */
}

.tbl_overf_s{
  max-height: 520px;
  overflow-y: scroll;
}

.tbl_overf_s_860{
  max-height: 660px;
  overflow-y: scroll;
}

.tbl_overf_s_860::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tbl_overf_s_860 {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.overf_y_s{
  max-height: 350px;
  overflow-y: scroll;
}

.tbl_overf_s::-webkit-scrollbar {
  width: 5px;
}

.tbl_overf_s::-webkit-scrollbar-thumb {
  background: #90a0aa;
  border-radius: 10px;
  height: 10px;
  cursor: pointer;
}

.tbl_overf_s::-webkit-scrollbar-track {
  background: #f5f6f8;
}

.border_none_sm {
  border-right: 1px solid var(--table_bg);
}

.d_none_700 {
  display: block;
}

.d_none_820{
  display: block;
}
.border_s {
  border-left: 1px solid var(--table_bg);
}

.stmc_card {
  padding: 16px;
  border-radius: 8px !important;
  position: relative;
}


.my_shadow {
  text-shadow: 2px 2px 4px #000000;
}

.d_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.container .progress {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: #fff;
  background: #444 linear-gradient(to right, transparent 50%, var(--clr) 0);
}

.container .progress h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  z-index: 1;
  font-weight: 500;
}

.container .progress h3 span {
  font-size: 0.65em;
  font-weight: 400;
}

.container .progress h4 {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 500;
  color: var(--clr);
  text-transform: uppercase;
}

.container .progress::before {
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;
}

.container .progress::after {
  content: "";
  position: absolute;
  inset: 10px;
  border-radius: 50%;
  background-color: #222;
}

.container .progress::before {
  background-color: var(--clr);
  transform: rotate(calc((var(--i) - 50) * 0.01turn));
}

.container .progress.less::before {
  background-color: #444;
  transform: rotate(calc((var(--i) - 0) * 0.01turn));
}

.progress-ring__circle {
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.3s;
}

.circle_chart {
  position: relative;
  width: fit-content;
}

.mb_4 {
  margin-bottom: 3px;
}

.mb_2 {
  margin-bottom: 1.5px;
}

.c_pointer {
  cursor: pointer;
}

.b_rad_0 {
  border-radius: 0 !important;
  background-color: #fafbfd !important;
}

.underline_tabs{
  border-radius: 0 !important;
}

.border_b {
  border-bottom: 1px solid var(--table_bg);
  padding-top: 4px;
  /* height: 48px; */
  min-height: 48px;
}

.subject_tabs {
  width: clamp(300px, 90%, 650px);
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0;
}

.nav.nav-pills.nav-fill.subject_tabs .nav-item.active {
  border-bottom: 4px solid var(--black_text_light);
}

.search_competition {
  width: 307px;
  height: 36px;
  border: 1px solid var(--table_bg);
  padding-left: 44px;
  border-radius: 6px;
  font: var(--font_regular_1);
}

.search_icon {
  position: absolute;
  top: 9px;
  left: 12px;
}

.select_width {
  width: 180px;
}

.fit_content {
  width: fit-content;
}

.w_50px {
  width: 50px;
}

.w_120px {
  width: 120px;
}

.overSelect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

#checkboxes {
  visibility: hidden;
  margin-top: 4px;
  width: 180px;
  border: 1px #dadada solid;
  position: absolute;
  background-color: #fff;
  padding-right: 4px;
  z-index: 9999999;
}

#checkboxes > div {
  max-height: 260px;
  overflow-y: scroll;
  padding-right: 4px;
  font: var(--font_regular_1);
}

#checkboxes label {
  display: block;
  padding-block: 9px;
  padding-inline: 4px;
  cursor: pointer;
}

#checkboxes label:first-child {
  border-bottom: 2px solid var(--muted_text);
  font: var(--font_bold_1);
}

#checkboxes input[type="checkbox"] {
  width: 17px;
  border-radius: 4px;
}

#checkboxes label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#checkboxes2 {
  visibility: hidden;
  margin-top: 4px;
  width: 180px;
  border: 1px #dadada solid;
  position: absolute;
  background-color: #fff;
  z-index: 9999999;
}

#checkboxes2 > div {
  padding-right: 4px;
  font: var(--font_regular_1);
}

#checkboxes2 label {
  display: block;
  padding-block: 9px;
  padding-inline: 4px;
  cursor: pointer;
}

#checkboxes2 label:first-child {
  border-bottom: 2px solid var(--muted_text);
  font: var(--font_bold_1);
}

#checkboxes2 input[type="checkbox"] {
  width: 17px;
  border-radius: 4px;
}

#checkboxes2 label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* #checkboxes{
  display: inline-block;
} */

::-webkit-scrollbar {
  width: 6px;
  margin-right: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.b_r_10px {
  border-radius: 10px;
}

.visible {
  visibility: visible !important;
}

.certif_header {
  background-color: var(--header_certificate);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: space-between;
  color: white;
  text-transform: uppercase;
}

.certif_body {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.certif_none_body {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: max(300px, 100%);
  height: 177px;
}

.p_9_12 {
  padding: 9px 12px;
}

.w_170px {
  width: 170px;
}

.none{
  display:none;
}

.result {
  margin-right: 50px;
  padding-right: 80px;
}

.result_progres {
  width: 150px;
  height: 182px;
  margin-top: 30px;
}

.scores {
  width: 240px;
  height: 182px;
  margin-top: 30px;
}

.problems {
  display: grid;
  grid-template-columns: auto 260px;
  column-gap: 24px;
  row-gap: 13px;
}

.problems_list {
  grid-column: 1/2;
  grid-row: 1/2;
  border: 1px solid #e2e7eb;
  border-radius: 8px;
  padding: 16px;
}

.problems_result {
  grid-column: 2/3;
  grid-row: 1/2;
  border: 1px solid #e2e7eb;
  border-radius: 8px;
  padding: 16px;
  max-height: 800px;
}

.problems_result_list{
  padding-top: 4px;
  max-height: 650px;
  overflow-y: scroll;
}

.problems_result_list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.problems_result_list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.problems_comparison{
  grid-column: 1/2;
  grid-row: 2/3;
  border: 1px solid #e2e7eb;
  border-radius: 8px;
  padding: 24px;
  background-color: var(--white_txt);
}

.problems_comparison>ul{
  background-color: #F8F8FA;
}

input[type="radio"] {
  background-color: #000;
}

input[type=radio]:checked {
  background-color: #000;
}

ul {
  list-style-type: none;
}

.group_btn{
  width:432px;
}

.d_grid_1fr_2fr{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 24px;
}

@media (max-width: 900px) {
  .d_grid {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
}



@media (max-width: 750px) {
  .d_none_750 {
    display: none;
  }

  .problems {
    display: grid;
    grid-template-columns: auto;
    column-gap: 24px;
    row-gap: 13px;
  }

  .problems_result {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .problems_comparison{
    grid-column: 1/2;
    grid-row: 3/4;
  }
 
}

@media (max-width: 576px) {
  .d_none_750 {
    display: inline;
  }

  .result {
    margin-right: 0;
    padding-right: 30px;
  }

  .group_btn{
    width:100%;
  }

  .fs_sm_14{
    font-size: 14px;
  }
}


@media (max-width: 767px) {
  .border_none_sm {
    border-right: none !important;
  }

  .d_grid_1fr_2fr{
    grid-template-columns: 1fr;
    row-gap: 24px;
  }

  .d_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .navbar2 {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    padding-block: 5px !important;
  }
  body {
    padding-bottom: 100px;
  }

  .border_s {
    border: none;
  }
}

@media (max-width: 1165px) {
  .d_none_1090 {
    display: none;
  }
}

@media (max-width:820px) {
  .d_none_820{
    display: none;
  }
}

@media (max-width: 1000px) {
  .d_none_1000 {
    display: none;
  }
}

@media (max-width: 500px) {
  .fs_sm_12 {
    font-size: 12px !important;
  }
}

@media (max-width: 1100px) {
  .ps_abs_r_b {
    bottom: 90px;
  }
}

@media (max-width: 970px) {
  .ps_abs_r_b {
    display: none;
  }

  .score_icon {
    position: absolute;
    top: 35%;
  }
}

@media (max-width: 767px) {
  .ps_abs_r_b {
    display: block;
    bottom: 20px;
  }

  .score_icon {
    position: absolute;
    top: 45%;
  }
}

@media (max-width: 468px) {
  .ps_abs_r_b {
    bottom: 80px;
  }
}

@media (max-width: 390px) {
  .d_grid {
    grid-template-columns: 1fr;
    row-gap: 8px;
  }
}

@keyframes example {
  0% {
    transform: translate(90%, 0);
  }
  25% {
    transform: translate(10%, 0);
  }
  50% {
    transform: translate(-70, 0);
  }
  75% {
    transform: translate(-150%, 0);
  }
  100% {
    transform: translate(-230%, 0);
  }
}

@media (min-width: 576px) {
  .border-sm-start {
    border-left: 1px solid #dee2e6 !important;
  }

  .border-sm-end {
    border-right: 1px solid #dee2e6 !important;
  }
}
