@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #FAFBFD;
}

.nav-item {
  margin-right: 5px;
}

.navbar , .border_b_E2E7EB{
  border-bottom: 1px solid #E2E7EB;
}
a {
  font-size: 14px;
  font-family: "Inter";
}

.active_color {
  color: #f4364c !important;
}

.bg_nav_tabs {
  background-color: #e2e7eb !important;
  width: inline-block;
  color: #1a1a1a !important;
}

.color_1A1A1A {
  color: #1a1a1a;
}

.color_36454F {
  color: #36454f !important;
}

.active {
  font-style: normal;
  font-weight: 600;
  color: #36454f;
  border: none;
}

.color_gold {
  color: #ffc671 !important;
}

.color_silver {
  color: #959292 !important;
}

.color_bronze {
  color: #fbaa6b !important;
}

p {
  font-family: "Inter";
  margin-bottom: 0;
}

.fw_400 {
  font-weight: 400;
  color: #90a0aa;
}

.fixed_size_div {
  width: 451px;
  height: 306px;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../media/Vector.svg");
  background-repeat: no-repeat;
}

.select::-ms-expand {
  display: none; /* Hide default arrow in IE10+ */
}

.select_darck {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../media/vector_dark.svg");
  background-repeat: no-repeat;
}

.select_darck::-ms-expand {
  display: none; /* Hide default arrow in IE10+ */
}

.m_0_auto {
  margin: 0 auto;
}

.fs-20 {
  font-weight: 600;
  font-size: 20px;
  color: #1a1a1a;
}

.fs-20_blue {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #1f55a6;
}

.fs_12 {
  font-weight: 400;
  font-size: 12px;
}

.fs_14 {
  font-weight: 500;
  font-size: 14px;
}

.fs_14_400_1F55A6 {
  font-size: 14px;
  color: #1f55a6;
  font-weight: 400;
}

.fs_30 {
  font-weight: 600;
  font-size: 30px;
  margin-top: 7px;
  line-height: 100%;
}

.fs_24 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}

.fs_24_600_inter{
  font-size: 24px;
  font-weight: 600;
  font-family: "Inter";
}

.c1F55A6 {
  color: #1f55a6;
}

.div_100_30 {
  width: 210px;
  height: 40px;
  position: relative;
  font-size: 12px;
}

.clr_grey {
  color: #90a0aa;
}

.zindex_1 {
  position: absolute;
  left: 0;
}

.zindex_2 {
  position: absolute;
  left: 20px;
}
.zindex_3 {
  position: absolute;
  left: 40px;
}
.zindex_4 {
  position: absolute;
  left: 60px;
}
.zindex_5 {
  position: absolute;
  left: 80px;
}

.zindex_6 {
  position: absolute;
  left: 140px;
  top: 9px;
}

.verified_sticker {
  background: rgba(70, 190, 82, 0.1);
  font-size: 14px;
  color: #4D956A;
}

.color_green{
  color: #4D956A;
}

.bg_green{
  background: #4D956A;
}

.border_r_16{
  border-radius: 16px;
}

.rounded_div {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: #fafbfd;
  position: absolute;
  left: 100px;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test_border {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.ps_abs_r_b {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.b_rds_20 {
  border-radius: 20px;
}

.my_bg {
  background: #d6e8f3;
}

@media (max-width: 1100px) {
  .ps_abs_r_b {
    bottom: 90px;
  }
}

@media (max-width: 970px) {
  .ps_abs_r_b {
    display: none;
  }
}

@media (max-width: 767px) {
  .ps_abs_r_b {
    display: block;
    bottom: 20px;
  }
}

@media (max-width: 468px) {
  .ps_abs_r_b {
    bottom: 80px;
  }
}

.ps_abs_r_t {
  position: absolute;
  right: 20px;
  top: 15px;
}

.ps_abs_t20_r5 {
  position: absolute;
  top: 20px;
  right: 9px;
}

.ps_abs_t5_r5 {
  position: absolute;
  top: 5px;
  right: 9px;
}

.ps_abs_r12_t8 {
  position: absolute;
  right: 12px;
  top: 8px;
  font-family: "Inter";
}

.ps_abs_r12_t43 {
  position: absolute;
  right: 12px;
  top: 43px;
}

.ps_rel {
  position: relative;
}

.w_20 {
  width: 20px;
  height: 20px;
}

.ps_sticky_t_1 {
  position: sticky;
  top: -1px;
}

.nav-link {
  font-family: "Inter";
  font-weight: 400;
  color: #36454f;
}

.none_hover:hover{
  color: #1a1a1a;
  outline: 5px solid white;
}

.none_hover:active{
  color: #1a1a1a;
  outline: 5px solid white;
}

.none_hover{
  color: #1a1a1a !important;
  border-radius: 0 !important;
  outline: 5px solid white;
  margin-right: 7px;
}

.active {
  font-family: "Inter";
  font-weight: 600;
  color: #36454f;
}

.div_451_278 {
  width: 451px;
  height: 278px;
}

.btn_bg {
  background: rgba(31, 85, 166, 0.1);
}


.rotateimg180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.tbl {
  /* background-color: red; */
  max-height: 698px;
}

.fs_16_600 {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter';
}

.color_hr {
  color: #e2e7eb;
}

tr {
  border: 1px solid #e2e7eb;
}

th {
  border-bottom: 1px solid #e2e7eb;
  vertical-align: middle;
}
thead {
  background: #fafbfd;
}

td {
  border-bottom: 1px solid #e2e7eb;
  vertical-align: middle;
  /* text-align: center; */
}

.tbl_overf_s {
  height: 560px;
  overflow-y: scroll;
}

.tbl_overf_s::-webkit-scrollbar {
  width: 5px;
}

.tbl_overf_s::-webkit-scrollbar-thumb {
  background: #90A0AA;
  border-radius: 10px;
  height: 10px;
}

.tbl_overf_s::-webkit-scrollbar-track {
  background: #f5f6f8;
}

.border_none_sm {
  border-right: 1px solid #e2e7eb;
}

.d_none_700 {
  display: block;
}

.border_s {
  border-left: 1px solid #e2e7eb;
}

.my_card{
  padding: 16px;
  border-radius: 8px;
  position: relative;
}

@media (max-width: 1050px) {
  .res_1000_800 {
    width: 150px;
  }
}

@media (max-width: 576px) {
  .res_1000_800 {
    width: 250px !important;
  }
}

@media (max-width: 930px) {
  .w_50_700 {
    width: 100px;
    text-align: start;
  }
}

@media (max-width: 850px) {
  .w_50_700 {
    width: 60px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .w_50_700 {
    width: auto;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .w_50_700 {
    width: 100px;
    text-align: center;
    display: none;
  }
}

@media (max-width: 428px) {
  .res_1000_800 {
    width: 150px !important;
  }
}

@media (max-width: 850px) {
  .res_1000_800 {
    width: 100px;
  }
}

@media (max-width: 750px) {
  .res_1000_800 {
    width: 100px;
  }

  .d_none_750 {
    display: none;
  }
}

@media (max-width: 788px) {
  .d_none_788 {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .d_none_750 {
    display: inline;
  }
}

@media (max-width: 767px) {
  .border_none_sm {
    border-right: none !important;
  }
  .navbar2 {
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    padding-block: 5px !important;
  }
  body {
    padding-bottom: 100px;
  }

 
  .border_s {
    border: none;
  }

}

@media (max-width: 1165px) {
  .d_none_1090 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .d_none_1000 {
    display: none;
  }
}

@media (max-width:500px) {
  .fs_sm_12{
    font-size: 12px !important;
  }
}
